<div class="main-sidebar">
    <div class="logo">
            <div class="">
                    <span class="logo-text">
                            <img src="./assets/logo/logo.svg"
                                    style="height:100%; width:100%;padding: 10%" />
                    </span>  
            </div>
    </div>
                 
    <div id="mySidenav" class="sidenav">
        <a href="#">Home</a>
        <a href="#">Services</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a>
    </div>
  
</div> 